body
    overflow hidden

#loader
    position absolute
    top 0
    left 0
    z-index 9999
    width 100% 
    height 100% 
    background-image url('/images/background-trans.png')
    background-repeat repeat
    h1
        text-align center
        text-shadow none
        color #dedede
        margin 0
        padding 0
        font-weight 100
    h3
        text-align center
        margin 0
        padding 0
        color #f8f8f8
        font-weight 100
    div
        width 600px
        border 4px solid #fff
        position relative
        top 100px
        margin 0 auto
        background #000
        padding 10px
        border-radius 15px
        box-shadow 0 0 25px #000
    img
        margin 0
        padding 0px 0px 20px 0px
         

.span9.center
    margin 0 auto
    float none
    padding 10px 0px 
    h1
        text-shadow 1px 1px 3px #bbb

    h1 > small
        text-shadow 1px 1px 1px #bbb
    h1 > span
        text-shadow none
        font-size 16px
        float right
        line-height 16px
        margin-top 20px

#login-widget
    div
        position relative
        #login, #logout
            margin-top -6px
    form
        position absolute
        padding 5px 8px 8px 8px
        border 2px solid #ccc
        border-radius 10px
        background #fff
        z-index 9999
        top -20px
        left -250px
        display none
        box-shadow 0 0 8px #bbb
        .close-sign-in
            float right
            text-align right
            padding 0
            margin 0
        .btn-primary
            width 230px
        input
            width 220px
        legend
            padding-top 0 
            font-size 16px
            line-height 25px
            margin 0px 0px 10px 0px
        span 
            display none
            padding 4px 0px 
            height 20px
            float left
            width 230px
            color red
            font-size 12px
    form#sign-in-form
        .btn-link 
            margin 0
            margin-top 5px
            padding 0
            font-size 12px
        #account-forgot
            float left
        #account-create
            float right
    form#sign-out-form
        .btn
            width 228px
            margin 5px 0px
    form#create-account-form
        padding-bottom 10px 
        small
            font-size 14px
        label 
            margin-top 10px
    form#change-password-form
        .btn
            width 230px
        small
            display none
            color red
            font-size 14px
            margin 10px 0px 
        small.success
            color green

table#calendar
    margin-bottom 0px
    table-layout fixed
    tr.day-names 
        th
            height 20px
    th
        color #555
    th, td
        min-width 100px
        height 22px
    .day.today
        background #ffff9d
    .day.today.booked
        background #0180f0
        color #ffff9d
    .booked 
        cursor pointer 
        div
            float right
            overflow hidden
            display block
            small 
                padding 0px 10px 0px 0px
                color #fff
                cursor pointer
    .day
        background #f8f8f8
    .prev, .next
        background #dedede
    .ui-selected
        background-color #c4d7ed
        time
            color #0180f0
    .ui-selecting
        background #c4d7ed
    .booked
        background #0180f0
    .booked.ui-selected
        time
            color #fff
        background #FBB450
    border-style none
    border-width 1px
    border-radius none
    tr 
        th:last-child, td:last-child
            border-right 1px solid #ddd

table#calendar.bookable
    .day
        background #fff
    .prev, .next
        background #f8f8f8
    .day.today.booked
        background #0180f0
        color #ffff9d
    .ui-selecting
        background #c4d7ed
    .booked
        background #0180f0
    .ui-selected
        background-color #c4d7ed
    .booked.ui-selected
        time
            color #fff
        background #FBB450


#top-toolbar.ui-toolbar 
        margin-bottom 0px 
    a.prev-month, span.prev-month
        float left
    a.next-month, span.next-month
        float right
    a.next-month, button.prev-month
        padding 0
    span.ui-icon-circle-triangle-w, span.ui-icon-circle-triangle-e
        margin-top 2px
    span.ui-icon-circle-triangle-w
        margin-right 3px    
    span.ui-icon-circle-triangle-e
        margin-left 3px    
    span.month
        padding-left 250px     
        color #555
        font-size 16px

#cp
    margin-top 0px 
    height 30px
    h6.count 
        float left
    a
        float right
        display block
        cursor pointer
        img
            height 30px
            padding 0px 4px 0px 0px
            border 2px solid transparent 
            border-image none
            opacity 0.8
        img.seq-selected
            border 2px solid #aeee00
            opacity 1
            border-radius 5px
    a:active, a:focus
        outline none
    h5.login
        float right
        margin-right 10px
        color #888
    .btn
        width 75px
        float right
    .btn-unbook 
        margin 0px 5px 0px 5px

    .btn-book
        margin-left 100px


#seq-selector
    float left
    width 250px 
    margin 0px 10px
    h5
        float right
        padding-right 4px


.ui-tooltip, .arrow:after
    background #000
    border 2px solid white

.ui-tooltip
    padding 10px 20px
    color #fff
    border-radius 20px
    font bold 14px
    text-transform uppercase
    box-shadow 0 0 7px #000

.arrow
    width 70px
    height 16px
    overflow hidden
    position absolute
    left 50%
    margin-left -35px
    top -16px

.arrow:after
        content ""
        position absolute
        left 20px
        bottom -20px
        width 25px
        height 25px
        box-shadow 6px 5px 9px -9px #000
        -webkit-transform rotate(45deg)
        -moz-transform rotate(45deg)
        -ms-transform rotate(45deg)
        -o-transform rotate(45deg)
        transform rotate(45deg)

.arrow.top
    top -16px
    bottom auto

.arrow.left
    left 20%




.notify-placeholder
    height 40px

#booking-form, #booking-info
    width 400px
    position absolute
    padding 10px
    top 100px
    left 50%
    margin-left -220px
    box-shadow 0 0 20px #000
    background #fff
    border-radius 10px
    z-index 9999
    legend
        margin-bottom 0
    small
        display none
        color red
    .invalid
        height: 20px

#booking-info
    padding 5px
    color #fff
    background #ccc
    legend
        color #fff
    div
        float left
        border 2px solid #ccc
        border-radius 10px
        background #0180f0
        padding 5px 
        width 385px
    .btn
        float right
        width 60px
    h3
        font-size 16px
        font-weight 100

#notify
    strong 
        padding-left 5px
        color red

#admin
    border 1px solid #000
    box-shadow 0 0 10px #000
    padding 10px
    border-radius 10px
    h3
        margin-top 0

#admin_info
    display none
